<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" >

  <div formGroupName="nombrecompleto">
    <div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
  
          <input class="form-control"
                 type="text"
                 placeholder="Nombre"
                 formControlName="nombre"
                 [ngClass]="{'is-invalid':forma.get('nombrecompleto.nombre').errors!=null && forma.get('nombrecompleto.nombre').touched, 'is-valid':forma.get('nombrecompleto.nombre').errors==null}"
                >
      
       <div *ngIf="forma.get('nombrecompleto.nombre').errors?.required" [ngClass]="{'invalid-feedback':forma.get('nombrecompleto.nombre').errors != null}" >
            Este campo es requerido
        </div>
        <div *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength" [ngClass]="{'invalid-feedback':forma.get('nombrecompleto.nombre').errors != null}" >
            Este campo debe tener por lo menos {{forma.get('nombrecompleto.nombre').errors.minlength.requiredLength}} caracteres
        </div>
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">
  
          <input class="form-control"
                 type="text"
                 placeholder="Apellido"
                 formControlName="apellido"
                 [ngClass]="{'is-invalid':forma.get('nombrecompleto.apellido').errors!=null && forma.get('nombrecompleto.apellido').touched, 'is-valid':forma.get('nombrecompleto.apellido').errors==null}">
  
          <div *ngIf="forma.get('nombrecompleto.apellido').errors?.required" [ngClass]="{'invalid-feedback':forma.get('nombrecompleto.apellido').errors != null}" >
            Este campo es requerido
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email"
             [ngClass]="{'is-invalid':forma.get('email').errors!=null && forma.get('email').touched, 'is-valid':forma.get('email').errors==null}">
      <div *ngIf="forma.controls['email'].errors?.required" [ngClass]="{'invalid-feedback':forma.controls['email'].errors != null}" >
        Este campo es requerido
      </div>  
      <div *ngIf="forma.controls['email'].errors?.pattern" [ngClass]="{'invalid-feedback':forma.controls['email'].errors != null}" >
          No es un correo válido
      </div>  
    </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Correr</label>
      <div class="col-md-8" formArrayName="pasatiempos">
        <input type="text" class="form-control" *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i=index" [formControlName]="i">
      </div>
      <button (click)="agregarPasatiempo()" class="btn btn-primary" type="button">
        Nuevo
      </button>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" [disabled]="forma.invalid">
        Guardar
      </button>
    </div>
  </div>

  {{forma.valid}}

 <!-- {{forma.get('nombrecompleto')|json}}-->
 

</form>
  